<!DOCTYPE html>
<html>
<head>
    <title>Model Performance</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">
    <div class="result-card">
        <h2>Model Performance Analysis</h2>

        <h3>Confusion Matrix</h3>
        <img src="/static/confusion_matrix.png" width="100%">

        <h3>ROC Curve</h3>
        <img src="/static/roc_curve.png" width="100%">

        <h3>Top Important Features</h3>
        <img src="/static/feature_importance.png" width="100%">

        <p>
        Random Forest outperformed Logistic Regression due to its ability to capture non-linear patterns in textual and metadata features.
        </p>
    </div>
</div>

</body>
</html>
